/.gitattributes export-ignore
/.gitignore export-ignore
/composer.json
/assets/src/ export-ignore
/assets/composer.json export-ignore
/assets/package.json export-ignore
/assets/package-lock.json export-ignore
/assets/webpack.config.js export-ignore
/includes/mtphr-settings/assets/src/ export-ignore
/includes/mtphr-settings/assets/composer.json export-ignore
/includes/mtphr-settings/assets/package.json export-ignore
/includes/mtphr-settings/assets/package-lock.json export-ignore
/includes/mtphr-settings/assets/webpack.config.js export-ignore