/.gitattributes export-ignore
/.gitignore export-ignore
/.github/ export-ignore
/.cursor/ export-ignore
/.cursorrules/ export-ignore
/vendor/ export-ignore
/wiki/ export-ignore
/scripts/ export-ignore
/composer.json export-ignore
/composer.lock export-ignore
/assets/src/ export-ignore
/assets/composer.json export-ignore
/assets/package.json export-ignore
/assets/package-lock.json export-ignore
/assets/webpack.config.js export-ignore
/includes/mtphr-settings-git/ export-ignore