.mtphrSettings {
  &__tabs {
    .components-tab-panel__tabs {
      flex-wrap: wrap;
    }
  }
  &__field {
    &--radio_buttons {
      &.mtphrSettings__field--inline {
        .components-radio-control__group-wrapper {
          flex-direction: row;
          justify-content: flex-start;
          flex-wrap: wrap;
        }
      }
    }
  }
}
@media screen and (max-width: 782px) {
  .mtphrSettings {
    .mtphrSettings__field--group {
      .mtphrSettings__field__input-wrapper {
        > .components-h-stack {
          flex-direction: column;
          > div {
            width: 100%;
          }
        }
      }
    }
  }
}

// .mtphrSettingsAppsettings__form {
//   padding-left: 0;
// }
// .my-tab-panel {
//   display: flex;
//   flex-direction: row;
//   align-content: stretch;
//   .components-tab-panel__tabs {
//       flex-direction: column;
//   }
//   .components-tab-panel__tab-content {
//       flex: 1;
//   }
// }
